.choose_file{
    padding:5px 10px;
    background:#00ad2d;
    border:1px solid #00ad2d;
    position:relative;
    color:#fff;
    border-radius:2px;
    text-align:center;
    float:left;
    cursor:pointer;
    margin-left: 50px;
  }
  .hide_file {
      position: absolute;
      z-index: 1000;
      opacity: 0;
      cursor: pointer;
      right: 0;
      top: 0;
      height: 100%;
      font-size: 24px;
      width: 100%;
      
  }