<div style="height:100%; width: 100%;">
  <div style="display: flex; margin-left: 120px; align-items: center;">
    <h1>
      A demo DICOM Viewer, based on <a href="https://github.com/cornerstonejs">Cornerstone</a>
    </h1>

    <div class="choose_file">
      Choose Your DICOM Files
      <input class="hide_file" type="file" multiple accept="application/dicom" id="imagens" title="selecione arquivos de imagens"
      (change)="loadDICOMImages($event.target.files)">
    </div>



  </div>

  <div style="display: flex;height: calc(100% - 90px); width:100%;">
    <dicom-viewer [enableViewerTools]="true" [enablePlayTools]="true" [maxImagesToLoad]="20" style="height:100%; width:100%; margin: 10px;"></dicom-viewer>
  </div>
</div>
